<section
  class="max-w-desktop mx-auto mt-20 mb-10.5 flex w-full flex-col items-center justify-center gap-8 px-6"
>
  <div class="max-w-215 text-center text-balance">
    <h2 class="cta-h2 mb-4">Sound. Presence. Purpose.</h2>
    <p class="text-secondary-foreground text-lg md:text-xl">
      Focused on crafting immersive audio experiences. We believe sound should not just be heard—it
      should move you.
    </p>
  </div>
  <div class="flex items-center justify-center gap-4">
    <a href="aura-pro-ii/" class="btn variant-outline size-outline"><span>Aura Pro II</span></a>
    <a href="flow-ii/" class="btn variant-outline size-outline"><span>Flow II</span></a>
  </div>
</section>
