{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.
@context {string} class CSS classes applied to the <ul>

@example: {{ partial "menu.html" (dict "class" "flex gap-4" "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}
{{- $class := .class }}
{{- $label := .label }}

{{- with index site.Menus $menuID  }}
  <nav aria-label="{{ $label }}">
    <ul class="{{- $class -}}">
      {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
    </ul>
  </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- $classes := slice }}

    {{- if $page.IsMenuCurrent .Menu . }}
    {{- $classes = $classes | append "active" }}
      {{- $attrs = merge $attrs (dict "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $classes = $classes | append "ancestor" }}
    {{- end }}

    {{- $style := .Pre }}
    {{- if eq $style "primary" }}
      {{- $classes = $classes | append "btn variant-primary size-primary" }}
    {{- else if eq $style "ghost" }}
      {{- $classes = $classes | append "btn variant-ghost size-ghost" }}
    {{- else }}
      {{- $classes = $classes | append "text-foreground" }}
    {{- end }}

    {{- with $classes }}
      {{- $attrs = merge $attrs (dict "class" (delimit . " ")) }}
    {{- end }}

    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      ><span>{{ $name }}</span></a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
