@import './fonts.css';
@import 'tailwindcss';
@source 'hugo_stats.json';

:root {
  /* Fonts */
  --font-main: 'Poppins';
  /** font-size */
  --text-180: 11.25rem; /* 180 */
  --text-86: 5.375rem;  /* 86 */
  --text-60: 3.75rem;   /* 60 */
  --text-56: 3.5rem;    /* 56 */
  --text-42: 2.625rem;  /* 42 */
  --text-32: 2rem;      /* 32 */
  --text-24: 1.5rem;    /* 24 */
  --text-20: 1.25rem;   /* 20 */
  --text-19_6: 1.225rem;  /* 19.6 */
  --text-18: 1.125rem;  /* 18 */

  /** line-height */
  --lh-172: 0.96; /* 180/172 */
  --lh-120 : 1.4; /* 86/120 */
  --lh-42 : 1.3125; /* 32/42 */

  /* Colors (Defaults) */
  --background: #f5f5f5;
  --foreground: #52483e;
  --secondary-foreground: #8b8782;
  --destructive: #cc0a00;
  --ring: #be5103;
  --brown-20: #f2ebe3;
  --brown-30: #daccbc;
  --brown-40: #d2cdc6;
  --brown-50: #afa497;
  --gray-40: #666666;
  --gray-60: #3b3b3b;
  --orange: #f8bf93;
  --yellow: #d8b74b;
  --green: #94915b;
  --red: #883d39;
}

@theme {
  /* Fallback Font Families */
  --font-sans-fallback:
    system-ui, ui-sans-serif, Roboto, 'Helvetica Neue', 'Arial Nova', Arial, sans-serif;

  /* Font Families */
  --font-sans: var(--font-main), var(--font-sans-fallback);

  /** font-size */
  --text-rs-180: var(--text-180);
  --text-rs-86: var(--text-86);
  --text-rs-60: var(--text-60);
  --text-rs-56: var(--text-56);
  --text-rs-42: var(--text-42);
  --text-rs-32: var(--text-32);
  --text-rs-24: var(--text-24);
  --text-rs-20: var(--text-20); 
  --text-rs-19_6: var(--text-19_6); 
  --text-rs-18: var(--text-18); 

  /** line-height */
  --spacing-lh-172: var(--lh-172);
  --spacing-lh-120 : var(--lh-120);
  --spacing-lh-42 : var(--lh-42);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-ring: var(--ring);
  --color-brown-20: var(--brown-20);
  --color-brown-30: var(--brown-30);
  --color-brown-40: var(--brown-40);
  --color-brown-50: var(--brown-50);
  --color-gray-40: var(--gray-40);
  --color-gray-60: var(--gray-60);
  --color-orange: var(--orange);
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-red: var(--red);

  /* Spacing */
  --spacing-desktop: 1280px;
  --spacing-mobile: 420px;
}

/* Utilities */
@utility txt-180{
  @apply text-rs-180 leading-lh-172 font-semibold;
}
@utility txt-86{
  @apply text-rs-86 leading-lh-120 font-semibold;
}
@utility txt-60{
  @apply text-rs-60 leading-lh-42 font-semibold;
}
@utility txt-56{
  @apply text-rs-56 font-semibold;
}
@utility txt-42 {
  @apply text-rs-42 font-semibold;
}
@utility txt-32{
  @apply text-rs-32 leading-lh-42 font-medium;
}
@utility txt-24{
  @apply text-rs-24;
}
@utility txt-19.6 {
  @apply text-rs-19.6 leading-none font-semibold;
}

@utility sec-fg-to-brown-40 {
  @apply from-secondary-foreground to-brown-40;
}
@utility black-to-gray-40 {
  @apply to-gray-40 from-black;
}
@utility black-to-brown-20 {
  @apply to-background from-black;
}
@utility black-to-sec-fg {
  @apply to-secondary-foreground from-black;
}
@utility fg-to-sec-fg {
  @apply from-foreground to-secondary-foreground;
}
@utility brown-50-to-brown-30 {
  @apply from-brown-50 to-brown-30;
}
@utility brown-40-to-brown-20 {
  @apply from-brown-40 to-brown-20;
}
@utility brown-40-to-orange {
  @apply from-brown-40 to-orange;
}
@utility brown-40-to-bg {
  @apply from-brown-40 to-background;
}
@utility yellow-to-brown-20 {
  @apply from-yellow to-brown-20;
}
@utility brown-30-to-brown-40 {
  @apply from-brown-30 to-brown-40;
}
@utility brown-30-to-brown-50 {
  @apply from-brown-30 to-brown-50;
}
@utility bg-to-brown-40 {
  @apply from-background to-brown-40;
}
@utility fg-to-brown-50 {
  @apply from-foreground to-brown-50;
}
/* Base */
@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    @apply cursor-pointer;
  }
}

/* Components */
@layer components {
  .btn {
    @apply focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive inline-flex shrink-0 items-center justify-center gap-2 whitespace-nowrap transition-all outline-none focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50;
  }
  /** Button Variants */
  .btn.variant-primary {
    @apply black-to-sec-fg [&_span]:fg-to-sec-fg hover:brown-40-to-bg hover:text-background rounded-full bg-linear-to-b text-white transition-colors duration-300 [&_span]:rounded-full [&_span]:bg-linear-to-b;
  }
  .btn.variant-outline {
    @apply sec-fg-to-brown-40 [&_span]:bg-background hover:fg-to-brown-50 rounded-full bg-linear-to-b text-black transition-colors duration-300 [&_span]:rounded-full;
  }
  .btn.variant-ghost {
    @apply black-to-gray-40 selection:text-background hover:black-to-brown-20 rounded-full bg-linear-to-b bg-clip-text text-transparent transition-colors duration-300;
  }

  /** Button Size */
  .btn.size-primary {
    @apply p-px [&_span]:px-8 [&_span]:py-2.5;
  }
  .btn.size-outline {
    @apply p-px [&_span]:px-8 [&_span]:py-2.5;
  }
  .btn.size-ghost {
    @apply px-8 py-2.5;
  }
}

body {
  @apply text-foreground bg-background font-sans antialiased;
}

@view-transition {
  navigation: auto;
}
::selection {
  @apply text-background bg-foreground rounded-xs;
}

/* Dev */
.b1 {
  @apply border border-red-600;
}
.b2 {
  @apply border border-green-600;
}
.b3 {
  @apply border border-purple-600;
}
.bg1 {
  @apply bg-red-600;
}
.bg2 {
  @apply bg-green-600;
}
.bg3 {
  @apply bg-purple-600;
}
