<section
  class="b1 brown-40-to-bg justofy-center flex flex-col items-center bg-linear-to-b pt-20 md:pt-45"
>
<div class="relative b2 h-271"> 
  <div class="absolute -top-60 z-20 h-271"> <img height="1084" src="/hero-1084w.webp" alt="" class="b3"/></div>
  <h1 class="lg:txt-180 txt-60 text-center z-90 relative">Resonance</h1>
  <div class="lg:txt-180 txt-60 brown-50-to-brown-30 bg-linear-to-b bg-clip-text text-transparent z-10 relative block b2 text-center"
    >Aura Pro II</div
  >
 
 
</div>
</section>
